@import "tailwindcss";

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  color: #fff;
  width: 45px;
  height: 45px;
}

.hero-slider .swiper-button-prev::after,
.hero-slider .swiper-button-next::after {
  font-size: 22px;
  font-weight: bold;
}

.hero-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 0.6;
}

.hero-slider .swiper-pagination-bullet-active {
  background: #facc15;
  opacity: 1;
}

@media (max-width: 768px) {
  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    display: none;
  }

  .hero-slider .swiper-pagination {
    bottom: 15px !important;
  }
}